@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;800&family=Poppins:wght@300;500&display=swap");

.class__panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  overflow-wrap: break-word;
  margin-bottom: 120px;
}

.stream__icon::after {
  content: url("../assets/icons8-youtube-live-96\ 1.png");
  font-size: 80px;
  text-align: center;
  background-repeat: no-repeat;
}

.class__title {
  margin-left: 60px;
  font-size: 80px;
  font-family: "Poppins";
  text-align: center;
}

.panel__container {
  min-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.python {
  background-image: url("../assets/icons8-python-48\ 1.png");
  height: 70px;
  width: 70px;
  margin: auto;
  object-fit: scale-down;
  background-repeat: no-repeat;
}

.dsa {
  background-image: url("../assets/dsa.png");
  height: 70px;
  width: 70px;
  margin: auto;
  background-repeat: no-repeat;
  object-fit: fill;
}

.cpp {
  background-image: url("../assets/icons8-c++-48\ 1.png");
  height: 70px;
  width: 70px;
  margin: auto;
  background-repeat: no-repeat;
}

.c {
  background-image: url("../assets/icons8-c-programming-48\ 1.png");
  height: 70px;
  width: 70px;
  margin: auto;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.java {
  background-image: url("../assets/icons8-java-48\ 1.png");
  height: 80px;
  width: 80px;
  margin: auto;
  background-repeat: no-repeat;
}

.r {
  background-image: url("../assets/icons8-r-project-48\ 1.png");
  height: 70px;
  max-width: 70px;
  margin: auto;
  background-repeat: no-repeat;
}

.card {
  margin: 30px 20px;
  padding: 50px 0px;
  background-repeat: no-repeat;
  font-family: "Poppins";
  text-align: center;
  font-size: 35px;
  word-wrap: normal;
}

.card__r {
  max-width: 420px;
}

.card:hover {
  transform: scale(1.09);
  transition: ease-in 350ms;
  box-shadow: 5px 5px #afabab;
  border: 1px solid grey;
}

@media only screen and (max-width: 600px) {
  .class__panel {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .class__title {
    min-height: 100px;
    width: 100%;
    margin-left: 5px;
    padding: 0;
  }

  .stream__icon::after {
    min-height: 100px;
    margin-top: 20px;
    padding: 0;
  }

}

@media only screen and (max-width: 900px) {
  .class__panel {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .class__title {
    min-height: 100px;
    width: 100%;
    margin-left: 5px;
    padding: 0;
  }

  .stream__icon::after {
    min-height: 100px;
    margin-top: 20px;
    padding: 0;
  }

  .panel__container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .class__panel {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .class__title {
    min-height: 100px;
    width: 100%;
    margin-left: 5px;
    padding: 0;
  }

  .stream__icon::after {
    min-height: 100px;
    margin-top: 20px;
    padding: 0;
  }

  .logo__section{
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 10%;
  }

}
