.title {
  margin-bottom: 40px;
  width: 100%;
  font-size: 60px;
  font-family: "Poppins";
  max-width: 100%;
  text-align: center;
  font-weight: 700;
}

iframe {
    padding: 0 20px;
    margin: 40px 0; 
}

iframe:hover {
    transform: scale(1.05);
    transition: ease-in 350ms;
}

@media only screen and (max-width: 900px){
    

    iframe {
        width: 100%;
    }
}